.idea/
techflif-api/bin/
obj/
node_modules/
docker-secret.env
logs/
.venv
.next

  
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/